.free-shipping {
  margin-top: 104px;
}

.free-shipping__box {
  height: 346px;
  background-image: url("../img/free-shipping.jpg");
}

.free-shipping__info-block {
}

.free-shipping__heading {
}

.free-shipping__text {
}

.free-shipping__contacts-block {
}
