// .dm-sans-<uniquifier> {
//   font-family: "DM Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: <weight>;
//   font-style: normal;
// }

* {
  font-family: "Steppe";
}

.container {
  width: 1184px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-right: 12px;
  padding-left: 12px;
}
